include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include masar_construction *.css
recursive-include masar_construction *.csv
recursive-include masar_construction *.html
recursive-include masar_construction *.ico
recursive-include masar_construction *.js
recursive-include masar_construction *.json
recursive-include masar_construction *.md
recursive-include masar_construction *.png
recursive-include masar_construction *.py
recursive-include masar_construction *.svg
recursive-include masar_construction *.txt
recursive-exclude masar_construction *.pyc